<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./lib/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="inputValue"/>
    <button v-on:click="handleBtnClick">提交</button>
    <ul>
      <todo-item v-bind:content="item"
       v-bind:index="index"
       v-for="(item,index) in list"
       @delete = "handleItemDelete">

      </todo-item>

    </ul>
  </div>
  <script>
    // 全局组件
    // Vue.component("TodoItem",{
    //   props:['content'],
    //   template:"<li>{{content}}</li>"
    // })

    //局部组件
    var TodoItem = {
      //props 外部传递过来的数据
      props:['content','index'],
      template:"<li @click='handleItemBtnClick'>{{content}}</li>",
      methods:{
        handleItemBtnClick:function(){
          this.$emit("delete",this.index);
        }
      }
    }


    var vm = new Vue({
      el:'#app',
      components:{
        TodoItem:TodoItem
      },
      data:{
        list:[],
        inputValue:''
      },
      methods: {
        handleBtnClick:function(){
          this.list.push(this.inputValue)
          this.inputValue = ''
          // alert(this.inputValue) 
        },
        handleItemDelete:function(index){
          // alert(index)
          this.list.splice(index,1)
        }
      }
    })
  </script>
</body>

</html>